*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.9;

}

:root {
    --spacing-medium: 8px;
    --spacing-regular: 16px;
    --font-small: 0.5rem;
    --font-regular: 1rem;
    --font-large: 2rem;
    --font-xl: 4rem;
    --font-semibold: 600;
    --border-color: rgb(52, 51, 51);

}

input {
    border: 1px solid var(--border-color);
    outline: none;
    opacity: 0.5;
}

input:focus {
    outline: none;
}



.morning {
    background-color: rgb(249, 153, 118);

    color: rgb(53, 52, 52);
    border-color: rgb(237, 237, 161);
}

.afternoon {
    background-color: rgb(253, 253, 173);
    color: rgb(129, 123, 123);
    border-color: black;

}

.evening {
    background-color: rgb(198, 140, 104);
    color: white;
    border-color: rgb(26, 25, 25);

}

.night {
    background-color: rgb(1, 8, 22);
    color: rgb(255, 255, 255);
    border-color: rgb(242, 242, 234);

}


#container {
    margin: var(--spacing-medium) auto;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "search search"
        "current current"
        "hourly hourly"
        "sixday sixday"
        "feels-like humidity";
    border: 1px solid var(--border-color);
    border-radius: var(--spacing-medium);
    padding: var(--spacing-regular);
    gap: var(--spacing-regular);

}

#container>article {
    padding: var(--spacing-regular);
    border: 1px solid var(--border-color);
    border-radius: var(--spacing-medium);

}

/* const icondescContainer=document.createElement("section");
        icondescContainer.classList.add("icondescBox");

        const currImage = document.createElement("img");
        currImage.classList.add("current-icon");
        currImage.src = getImage(icon);  

        const description = document.createElement("p");
        description.classList.add("description");
        description.innerText = desc;
        console.log(getImage(icon)); */

#search {
    grid-area: search;
    padding: var(--spacing-regular);
    border-radius: var(--spacing-medium);
    font-size: var(--font-regular);
    font-weight: var(--font-semibold);
}

#current-forecast {
    grid-area: current;
    display: grid;
    place-content: center;
    /* gap:var(--spacing-medium); */
    text-align: center;
    place-items: center;
}

.icondescBox {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#current-forecast .icondescBox .description {
    text-transform: capitalize;
    font-size: var(--font-regular);
}

#current-forecast .temperature {
    margin: var(--spacing-medium);
    font-size: var(--font-xl);

}

#current-forecast .minmax {
    font-weight: var(--font-semibold);
    font-size: var(--font-regular);

}

#hourly-forecast {
    grid-area: hourly;
    text-align: center;

}

#hourly-forecast .hourly-forecast-container {
    margin-top: var(--spacing-regular);

}

/* //<article id="hourly-forecast">
        //     <section class="hourly-forecast-container">
        //         <h1>hourly-forecast-container</h1>
        //         <article class="hourly-info">
        //             <h2 class="hourly-time">Time</h1>
        //             <p class="hourly-icon">icon</p>
        //             <p class="hourly-temp">temperature</p>
        //         </article>
        //     </section>
        // </article> */

#hourly-forecast .hourly-forecast-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-columns: minmax(100px, 1fr);
    margin-bottom: var(--spacing-regular);
    overflow-x: auto;
    scrollbar-width: none;

}

#hourly-forecast .hourly-forecast-container .hourly-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hourly-forecast .hourly-forecast-container .hourly-info .hourly-time {
    font-size: var(--font-regular);
    font-weight: var(--font-semibold);
}


.icondescBox .current-icon,
#hourly-forecast .hourly-forecast-container .hourly-info .hourly-icon,
#sixday-forecast .day-info .day-icon {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

#hourly-forecast .hourly-forecast-container .hourly-info .hourly-temp {
    font-weight: var(--font-semibold);
    font-size: var(--font-regular);
}

/* <article id="fiveday-forecast">
            <h1>fiveday-forecast</h1>
                <!-- <article class="day-info">
                    <h2 class="day">Day</h2>
                    <p class="day-icon">icon</p>
                    <p class="min-temp">21.3 C</p>
                    <p class="max-temp">35.6 C</p>
                </article> -->
        </article>
 */

#sixday-forecast {
    grid-area: sixday;
}

#sixday-forecast .day-info {
    display: grid;
    grid-template-columns: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-regular);
    place-items: center;
    place-content: center;
}

#sixday-forecast .day-info .day {
    text-transform: capitalize;
}

#sixday-forecast .day-info .min-temp {
    font-size: var(--font-regular);
    font-weight: var(--font-semibold);
    opacity: 0.5;
}

#sixday-forecast .day-info .max-temp {
    font-size: var(--font-regular);
    font-weight: var(--font-semibold);
}


#feels-like {
    grid-area: feels-like;
}

#humidity {
    grid-area: humidity;
}

#feels-like,
#humidity {
    display: grid;
    place-items: center;

}

#feels-like #feelsLike-value,
#humidity #humidity-value {
    font-size: var(--font-large);
    font-weight: var(--font-semibold);
    opacity: 0.6;

}

#feelsLike-value,
#humidity-value {
    margin: 0;
}

@media (width>=650px) {
    body {
        display: grid;
    }

    #container {
        margin: var(--spacing-medium) auto;
        width: unset;
        max-width: 800px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: " search search search search"
            "current current sixday sixday"
            "hourly hourly sixday sixday"
            "feels-like feels-like humidity humidity";
        border: 1px solid var(--border-color);


    }


}