
#main-container{
    display:grid;
    grid-template-rows: repeat(4,200px);
    grid-template-columns: repeat(4,200px);

}

#header{
    background-color: rgb(221, 212, 212);
    grid-column:span 4;
}


#sidebar{
    background-color: cornflowerblue;
    grid-row:span 2;
}

#main-content{
    background-color: palegoldenrod;
    grid-row:span 2;
    grid-column: span 3;
}
#footer{
    background-color: black;
    grid-column: span 4;
}