
#outer{
    width:700px;
    height: 500px;
    padding: 20px;
    border:4px dashed black;
    display: flex;
    margin:100px auto;
    background-color:rgb(244, 253, 250);
    gap:10px 30px;
    flex-flow:row wrap;
    align-items: center;
    justify-content: center;
}

.child{
    width:200px;
    height: 200px;
    background-color: palevioletred;
    
}

#box1{
    flex-grow: 1;
}

#box2{
    flex-grow: 2;
}

#box3{
    flex-grow: 4;
}

#box4{
    flex-basis: 70%;
}