.parent-box {
    display: grid;
    grid-template-rows: repeat(4,1fr 0.5fr) ;
    grid-template-columns: min-content minmax(150px,200px) fit-content(200px) ;
    gap: 10px 15px;
    margin:100px ;

}

.child-box {
    background-color: rgb(54, 216, 228);
    border: 1px solid black;
}

